/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
  }
  .glow{
    background-color: black; 
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #99185871;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  h1{
    padding: 20px;
    text-align: center;
    color: #45a049;
  }
  label{
    font-size:20px ;
    font-weight: bold;
  }
  /* Style the submit button with a specific background color etc */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn2 {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn3 {
    background-color:green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn4 {
    background-color:darkorange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  /* When moving the mouse over the submit button, add a darker green color */
  .btn:hover {
    background-color: #45a049;
  }
  .btn2:hover {
    background-color: #45a049;
  }
  .btn3:hover {
    background-color: #45a049;
  }
  .btn4:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  @media only screen and (max-wdith:768px) and (min-width: 500px){
      body{
          background-color: #45a049;
      }
     form{
        background-color:tomato; 
     } 
  }
  .info{
    flex-direction: row;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    background-color: rgb(253, 253, 253);
    margin: 10px;
  }